body{
    font-family: arial;
    font-size: large;
    background:url(backg/liv1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.forms{
    margin: auto;
    margin-top: 10%;
    box-shadow: 0px 0px 5px 0px rgb(251, 251, 253);
    width: 40%;
    background-color: rgba(0, 0, 0, 0.527);
}
form{
    margin-left: 140px;
   
}
h2{
    text-decoration: underline;
   margin-left: 60px;
    padding-top:15px ;
    color: white;
    text-shadow: 0px 2px 0px   rgb(4, 4, 112); 
}

input{
   
    width: 250px;
    height: 25px;
    border-radius: 6px;
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    color: white;
}

input[type='mail']{
    font-size: medium;
    font-family: arial;
    font-weight:600;
    font-size: large;
 
}
input[type='password']{
    font-size: medium;
    font-family: arial;
    color: white;
    font-weight:600;
    font-size: large;
}
input[type='submit']{
    outline:none;
    border:  rgb(4, 4, 112);
    background-color:  rgb(4, 4, 112);
    color: white;
   font-family: arial;
   font-size: medium;
   font-weight: bold;
}
input[type='submit']:hover{
    background-color: white;
    color:  rgb(4, 4, 112) ;
}
p{
    display: inline;
    
  
}
.paragraphe{
    margin-left: -20px;
}
.pass{
    margin-left: 140px;
}
a{
    color:white;
    text-decoration: none;

}
p{
    color:rgb(4, 4, 112);
}
a:hover{
    color: rgb(5, 5, 175);
    text-decoration: underline;
    
}
@media screen and (max-width: 992px) {
    .forms {
      width: 500px;
      
    }
    form{
        margin-left: 70px;
    }
  }
